p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Styling for all custom environments: */
div.secondary, div.reflect, div.wp, div.gh, div.todo, div.caution, div.feedback, div.protip{
  padding: 0.1em 0.0em 0.5em 1.0em;
  margin-bottom: 0.5em;
  position:relative;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
}



div.secondary:before,
div.reflect:before,
div.wp:before,
div.gh:before,
div.todo:before,
div.caution:before,
div.feedback:before
div.protip:before{
    left:0.5em;
    position:absolute;
    top:0.1em;
    font-weight:bold;
    font-style:italic;
    font-size: 1.5em;
}


/* Style hyperlinks */
.book .book-body .page-wrapper .page-inner .normal div.secondary a:link,
.book .book-body .page-wrapper .page-inner .normal div.reflect a:link,
.book .book-body .page-wrapper .page-inner .normal div.wp a:link,
.book .book-body .page-wrapper .page-inner .normal div.gh a:link,
.book .book-body .page-wrapper .page-inner .normal div.todo a:link,
.book .book-body .page-wrapper .page-inner .normal div.caution a:link,
.book .book-body .page-wrapper .page-inner .normal div.feedback a:link
.book .book-body .page-wrapper .page-inner .normal div.protip a:link{
  text-decoration: underline;
  font-weight: bold;
  color: rgb(3, 3, 3);
}


/* Styling unique to each environment: */
div.secondary{
  background: #71c7ec;
}
div.reflect{
  background: #e7f4e4;
}
div.wp{
  background: #e1f3f8;
}
div.gh{
  background: #bba3cc;
}
div.todo{
  background: #fff1d2;
}
div.caution{
  background: #f9dede;
}
div.feedback{
  background: #d6d7d9;
}
div.protip{
  color: rgb(255, 255, 255); background: #34495e;
}
